BODY{background-image: url(../photos/pngtree-minimalist-gradient-medical-background-picture-image_966366.jpg);}
footer{background-color: dimgrey;opacity: 1;direction:rtl}
footer p{margin-top: 0; margin-bottom: 0;}
footer p a {text-decoration: none;color: darkturquoise}
.source {direction:rtl; padding: 150px;font-family: cursive;}
p{text-align: justify}
